/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* init */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;                     /* specify for a box */
}

body {
    font-family: "Lato", sans-serif;            /* sans-serif: 沒有襯線的字體 */
    font-weight: 400;                           /* 字體粗细程度 */
    font-size: 16px;
    line-height: 1.7;                           /* 1.7 times of predefined line height */
    color: #777;                                /* grey color */
    padding: 30px;
}

.header {
    height: 95vh;                               /*  95% the viewport height (vh) of box */
    background-image: linear-gradient(          /* 從鮮綠色一直往右下漸變到深綠色 */
        to right bottom,
        rgba(126,213,111,0.8),                  /* rgba: red, green, blue, opacity value (不透明度值) */
        rgba(40, 180, 131, 0.8)),
    url(../img/hero.jpg);                       /* .. refer to go into the project folder. */
    background-size: cover;                     /* fit the element inside of the box, and regardless viewport width */
    background-position: top;                   /* make sure stays at the top of the container */
    position: relative;

    clip-path: polygon(0 0 , 100% 0, 100% 75vh, 0 100%);        /* polygon(x y, x y, x y), we don't wanna remove the index of x, y axis  */
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;           /* width will automatically figured out by the browser. */
}

/* Move box to Center position */
.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);   /* firstly, 50% of element's height to the left, and to the top */
}

.heading-primary {
    color: #fff;
    text-transform: uppercase; /* 強制所有字符被轉換為大寫  */
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;       /* 左右字距 */
}