.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;

    @include respond(tab-port) {
      float: left;
      position: relative;
      width: 33.3333333%;
      box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
    }

    &--p1 {                 // in the bottom layer
      left: 0;
      top: -2rem;

      @include respond(tab-port) {
        top: 0;
      }
    }

    &--p2 {                 // in the middle layer
      right: 0;
      top: 2rem;

      @include respond(tab-port) {
        top: 0;
      }
    }

    &--p3 {                 // in the top layer
      left: 20%;
      top: 10rem;

      @include respond(tab-port) {
        top: 0;
        left: 0;
      }
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-.5rem);       // 只有滑鼠指向的圖片，它將會放大; 向上移0.5rem
      box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(.95);          // 除了滑鼠指向的圖片，其他圖片將會縮小
  }
}