.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: rgba($color-white, .6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skew(-12deg);                          // = skewX()

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: skew(0);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);          // wrapping text around a circle, 50% of width and height (7.5rem)
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);                   // move circle to the left

    @include respond(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__img {
    height: 100%;                                    // to scale smaller the img as circle size
    transform: translateX(-4rem) scale(1.4);
    -webkit-backface-visibility: hidden;// hidden the back face
    backface-visibility: hidden;
  }

  &__text {
    transform: skewX(12deg);                          // = skewX()

    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);                  // start position
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;                                       // hidden
    transition: all .5s;
    -webkit-backface-visibility: hidden;// hidden the back face
    backface-visibility: hidden;                      /* Fix transition work outside the circle by [隱藏元素在3D 空間中旋轉時的背面] */
  }

  &:hover &__caption {
    opacity: 1;                                       // show
    transform: translate(-50%, -50%);                 // end position
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}