// global definition
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;                          /* By setting the box-sizing property on each element
                                                     on the entire page to inherit */
}

html {                                          /* For Mobile, and Web */
  font-size: 62.5%;                             /* set parent font size as 1rem = 10px, 100%/16px*10px = 62.5% */

  //@include respond-phone {
  //  font-size: 50%;
  //}

  @include respond(tab-land) {                   // width < 1200
    font-size: 56.25%;                           // 1rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {                   // width < 900
    font-size: 50%;                              // 1rem = 8px, 8/16 = 50%
  }

  //@include respond(phone) {                    // width < 600
  //  font-size: 50%;                            // tab-port is less than 900px, so it apply phone for 50% font-size too
  //}

  //
  //@include respond(phone) {                    // width < 600
  //  font-size: 30%;                            // 1rem = 4.8px
  //}

  @include respond(big-desktop) {
    font-size: 75%;                              // 1rem = 12px, 12/16 = 75%
  }
}

body {
  box-sizing: border-box;                       /* specify for a box */
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}


::selection {
  background-color: $color-primary;
  color: $color-white;
}