// global definition
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;                          /* By setting the box-sizing property on each element
                                                     on the entire page to inherit */
}

html {                                          /* For Mobile, and Web */
  font-size: 62.5%;                             /* set parent font size as 1rem = 10px, 100%/16px*10px = 62.5% */
}

body {
  box-sizing: border-box;                       /* specify for a box */
}